## Task 2 - Prediction of store sales

#### Import important liberaries

In [1]:
import os
import sys
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# Get the current working directory
current_dir = os.getcwd()

# Append the parent directory to sys.path
parent_dir = os.path.dirname(current_dir)
sys.path.append(parent_dir)

# ignore warrnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
from scripts.Data_preprocessing_pipeline import DataPreprocessingPipeline

In [3]:
# Data loading our data is in CSV format
train_df = pd.read_csv('../data/train.csv')
test_df = pd.read_csv('../data/test.csv')
store_df = pd.read_csv('../data/store.csv')

In [4]:
pipeline = DataPreprocessingPipeline(train_df, test_df, store_df)

In [5]:
# Run the entire preprocessing pipeline
processed_train_df, processed_test_df = pipeline.run_pipeline(
    missing_num_strategy='mean',
    missing_cat_strategy='mode',
    outlier_method='zscore'
)

In [6]:
processed_test_df.head(2)

,Id,Store,DayOfWeek,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,...,IsWeekend,Day,Month,Year,IsHoliday,StoreType_b,StoreType_c,StoreType_d,Assortment_b,Assortment_c
0,1,1,4,1.0,1,0,1270.0,9.0,2008.0,0,...,0,17,9,2015,0,0,1,0,0,0
1,2,3,4,1.0,1,0,14130.0,12.0,2006.0,1,...,0,17,9,2015,0,0,0,0,0,0

In [7]:
processed_test_df.columns

Index(['Id', 'Store', 'DayOfWeek', 'Open', 'Promo', 'SchoolHoliday',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'Weekday', 'IsWeekend', 'Day',
       'Month', 'Year', 'IsHoliday', 'StoreType_b', 'StoreType_c',
       'StoreType_d', 'Assortment_b', 'Assortment_c'],
      dtype='object')

In [8]:
processed_train_df.columns

Index(['Store', 'DayOfWeek', 'Sales', 'Open', 'Promo', 'SchoolHoliday',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Weekday', 'IsWeekend', 'Day',
       'Month', 'Year', 'IsHoliday', 'StoreType_b', 'StoreType_c',
       'StoreType_d', 'Assortment_b', 'Assortment_c'],
      dtype='object')

In [9]:
processed_train_df

,Store,DayOfWeek,Sales,Open,Promo,SchoolHoliday,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,...,IsWeekend,Day,Month,Year,IsHoliday,StoreType_b,StoreType_c,StoreType_d,Assortment_b,Assortment_c
0,1,5,5263,1,1,1,1270.0,9.000000,2008.000000,0,...,0,31,7,2015,0,0,1,0,0,0
1,2,5,6064,1,1,1,570.0,11.000000,2007.000000,1,...,0,31,7,2015,0,0,0,0,0,0
2,3,5,8314,1,1,1,14130.0,12.000000,2006.000000,1,...,0,31,7,2015,0,0,0,0,0,0
3,4,5,13995,1,1,1,620.0,9.000000,2009.000000,0,...,0,31,7,2015,0,0,1,0,0,1
4,5,5,4822,1,1,1,29910.0,4.000000,2015.000000,0,...,0,31,7,2015,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,0,0,0,1,1900.0,6.000000,2014.000000,1,...,0,1,1,2013,1,0,0,0,0,0
1017205,1112,2,0,0,0,1,1880.0,4.000000,2006.000000,0,...,0,1,1,2013,1,0,1,0,0,1
1017206,1113,2,0,0,0,1,9260.0,7.222866,2008.690228,0,...,0,1,1,2013,1,0,0,0,0,1
1017207,1114,2,0,0,0,1,870.0,7.222866,2008.690228,0,...,0,1,1,2013,1,0,0,0,0,1
1017208,1115,2,0,0,0,1,5350.0,7.222866,2008.690228,1,...,0,1,1,2013,1,0,0,1,0,1